mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        if isHeroku
            img.video-mixin__thumb(src=video.thumbnailUrl, crossorigin)
        else
            img.video-mixin__thumb(src="/"+video.thumbnailUrl)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.username} • 
                span #{video.meta.views} 회