extends base.pug

block content
  video(src="/"+video.fileUrl, controls, width=500, height=250)
  div
    p=video.description
    div
      each hashtag in video.hashtags
          span #{hashtag} 
    small=video.createdAt
  br
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;