extends base.pug

block content
  video(src="/"+video.fileUrl, controls, width=500, height=250)
  div
    p=video.description
    p Uploaded by 
      a(href=`/users/${owner._id}`) #{owner.username}
    div
      each hashtag in video.hashtags
          span #{hashtag} 
    small=video.createdAt
  br
  if String(video.owner) === String(user._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;